* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************** PARTIE HEADER *****************************/
.headerContainer { 
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    padding: 20px;
    /* border-bottom: 2px solid black; */
    background-color: #ffffff;
    padding: 30px;
}


.headerContainer img {
    width: 150px;
    /* margin-left: 40px; */
}

/* .navContainer a {
   display: inline-block;
   margin-top: 10px;
   padding-right: 60px;
   font-size: 1.3em;
    text-decoration: none;
    color: black;
} */

/* .navContainer ul {
    display: flex;
    margin-right: 20px;
    margin-top: 20px;
    list-style-type: none;
} */

/*********************** PARTIE VIDEO BG *****************************/

#background-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    }

/*********************** PARTIE FORM *****************************/

.formContainer {
     width: 50vw;
     padding: 50px;
    /* height: 100vh; */ 
    background: rgba(245, 222, 179, 0.549);
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
}

