* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************** PARTIE HEADER *****************************/
.headerContainer { 
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    /* border-bottom: 2px solid black; */
    background-color: #ffffff;
    padding: 30px;
    position: fixed;
    top: 0;
}


.headerContainer img {
    width: 150px;
    /* margin-left: 40px; */
}

.navContainer a {
   display: inline-block;
   margin-top: 10px;
   padding-right: 60px;
   font-size: 1.3em;
    text-decoration: none;
    color: black;
}

.navContainer ul {
    display: flex;
    margin-right: 20px;
    margin-top: 20px;
    list-style-type: none;
}

/*********************** PARTIE VIDEO BG *****************************/


#background-video {
    height: 100vh;
    width: 100%;
    object-fit: cover; 
    position:  absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    }

/*********************** PARTIE FORM *****************************/

.formContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(228, 121, 7, 0.1);
    max-width: 600px;
    margin: auto;
    margin-top: 15%;
}
h1, h2, p {
    color: #333;
    text-align: center;
    margin: 20px;
}
form {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
input[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #6c4105;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
input[type="button"]:hover {
    background-color: #ce7911dc;
}

/*********************** TABLEAU DES STOCKS *****************************/

#stockTable {
    border: 2px solid #515151;
    border-radius: 8px;
    overflow: hidden;
}
.stockContainer {
    background-color: hsl(0, 0%, 100%);
    margin-top: 120px;
    height: 100vh;    
}


.stockContainer h2 {
margin-top: 150px;
 padding-top: 40px;
}


table {
    justify-content: center;
    width: auto;
    margin: auto;
    margin-top: 50px;
    border-collapse: collapse;
    background-color: #fff;
  }

  th,
  td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  th {
    background-color: #515151;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

.filterButton {
    padding: 10px;
    background-color: #6c4105;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    height: 35px;
}

.filterButton:hover {
    background-color: #ce7911dc;
}


.rechercherContainer {
display: flex;
justify-content: center;
margin-bottom: 20px;
}

.rechercherContainer label {
    margin-top: 10px;
    margin-right: 10px;
}

#rechercher {
    width: 20%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px; 

}


/*********************** PRODUIT CONTAINER *****************************/

.produitsContainer {
    height: 100vh;
    padding-top: 10%;
    background-image: url(/IMAGES/background/backgroungimg.jpg);
    overflow-x: auto; /* Ajout de la propriété pour permettre le défilement horizontal */
}

.produitsContainer img {
    width: 600px;
}

.detailButton {
      margin-left: 35%;
      margin-bottom: 90px;
      padding: 15px;
      background-color: #333333a4;
      color: white;
}

.detailButton:hover {
      background-color: white;
      color: #333;
}
.produitsContainer div {
    margin : 20px
}

.scrollingContainer {
    display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
}

/* Mise en forme de l'affichage des produits */
.coffee {
    background-color: rgba(255, 255, 255, 0.765);
    border: 2px solid rgb(113, 74, 46);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30% 70% 56% 44% / 30% 36% 64% 70% ;
}
.sandwich {
    background-color: rgba(255, 255, 255, 0.765);
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30% 70% 56% 44% / 30% 36% 64% 70% ;
}

.coca {
    background-color: rgba(255, 255, 255, 0.765);
    border: 2px solid rgb(106, 136, 244);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 52% 48% 45% 55% / 59% 36% 64% 41%;
}

.jusorange {
    background-color: rgba(255, 255, 255, 0.765);
    border: 2px solid rgb(207, 124, 15);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 32% 68% 53% 47% / 59% 53% 47% 41%;
}
.icetea {
    background-color: rgba(255, 255, 255, 0.765);
    border: 2px solid rgb(248, 208, 47);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 65% 35% 44% 56% / 47% 66% 34% 53%;
}
.vins {
    background-color: rgba(255, 255, 255, 0.765);
    border: 2px solid rgb(248, 208, 47);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 54% 46% 45% 55% / 26% 18% 82% 74%;
}


