* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************** PARTIE HEADER *****************************/
.headerContainer { 
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    padding: 20px;
    /* border-bottom: 2px solid black; */
    background-color: #ffffff;
    padding: 30px;
}


.headerContainer img {
    width: 150px;
    /* margin-left: 40px; */
}

/* .navContainer a {
   display: inline-block;
   margin-top: 10px;
   padding-right: 60px;
   font-size: 1.3em;
    text-decoration: none;
    color: black;
} */

/* .navContainer ul {
    display: flex;
    margin-right: 20px;
    margin-top: 20px;
    list-style-type: none;
} */

/*********************** PARTIE VIDEO BG *****************************/


#background-video {
    height: 100vh;
    width: 100%;
    object-fit: cover; 
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    }

/*********************** PARTIE FORM *****************************/

.formContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(228, 121, 7, 0.1);
    max-width: 600px;
    margin: auto;
    margin-top: 90px;
}
h1, h2, p {
    color: #333;
    text-align: center;
    margin: 20px;
}
form {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
input[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #6c4105;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
input[type="button"]:hover {
    background-color: #ce7911dc;
}

/*********************** TABLEAU DES STOCKS *****************************/

.stockContainer {
    background-color: hsl(0, 0%, 100%);
    margin-top: 120px;
    height: 100vh;
    
}

.stockContainer h2 {
 padding-top: 40px;
}


table {
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  th {
    background-color: #4caf50;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }





